@page "/certificates"

@using System.Text.RegularExpressions;

@inject DialogService DialogService;
@inject Services.ACME acme;

<PageTitle>Certificates</PageTitle>
<br />
<br />
<h3>Certificates@(acme.Installed ? $" ({acme.Certificates.Count})" : "")</h3>

@if (acme.Installed)
{
	<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
		<RadzenButton Click=@(() => RefreshCertificates(true)) Disabled="busyRefreshing" Text="Refresh" Icon="cached" BusyText="Refreshing..." IsBusy="busyRefreshing" ButtonStyle="ButtonStyle.Info" class="rz-mr-5" />
		<RadzenButton Click=@(() => AddCertificate()) Disabled="busyRefreshing" Text="Add" Icon="add" BusyText="Refreshing..." IsBusy="busyRefreshing" ButtonStyle="ButtonStyle.Success" />
	</RadzenStack>
	<br />
	<br />

	if (acme.Certificates.Count == 0)
	{
		<span>There are currently no certificates to display.</span>
	}
	else
	{
		foreach (Services.ACME.Certificate cert in acme.Certificates)
		{
			<RadzenCard Class="rz-my-8" Style="max-width: 420px">
				<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
					<RadzenStack Gap="0">
						<RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Main Domain</RadzenText>
						<RadzenText TextStyle="TextStyle.Body1"><b>@cert.MainDomain</b></RadzenText>
						@if (!String.IsNullOrWhiteSpace(cert.SANDomains))
						{
							<RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">SAN Domains</RadzenText>
							<RadzenText TextStyle="TextStyle.Body1"><b>@cert.SANDomains</b></RadzenText>
						}
					</RadzenStack>
				</RadzenStack>
				<RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-5" style="margin: 0.25rem calc(.75 * var(--rz-card-padding));">
					<RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><strong>More Details</strong></RadzenText>
					<RadzenRow RowGap="0">
						<RadzenColumn SizeSM="8">
							<RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">CA</RadzenText>
							<RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@cert.CA</b></RadzenText>
							<RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Key Length</RadzenText>
							<RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@cert.KeyLength</b></RadzenText>
						</RadzenColumn>
						@if (cert.Created.HasValue)
						{
							<RadzenColumn SizeSM="8">
								<RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Created</RadzenText>
								<RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@cert.Created</b></RadzenText>
								<RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Renew</RadzenText>
								<RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@cert.Renew</b></RadzenText>
							</RadzenColumn>
						}
					</RadzenRow>
				</RadzenCard>
					<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0">
						<RadzenButton Variant="Variant.Text" class="rz-text-secondary-color" Text="Renew" Disabled="true" />
						<RadzenButton Variant="Variant.Text" Text="Delete" Click="() => DeleteCertificate(cert)" />
					</RadzenStack>
			</RadzenCard>
		}
	}
}
else
{
	<span>This is where certificates will be displayed once ACME has been installed.</span>
}

@code {
	[CascadingParameter]
	private MainLayout? layout { get; set; }

	private bool busyRefreshing = false;

	private string fqdnRegEx = @"^(?=^.{1,254}$)(^(?:(?!\.|-)([a-z0-9\-\*]{1,63}|([a-z0-9\-]{1,62}[a-z0-9]))\.)+(?:[a-z]{2,})$)$";

	private async void RefreshCertificates(bool notifyUser)
	{
		try
		{
			busyRefreshing = true;

			await Task.Run(() => acme.RefreshCertificates());

			if (notifyUser)
			{
				layout?.DisplayToast(MainLayout.toastType.info, "Certificates refreshed successfully!");
			}
		}
		finally
		{
			busyRefreshing = false;
			await InvokeAsync(() => StateHasChanged());
		}
	}

	private class AddCertificateModel
	{
		public string primaryDomain = string.Empty;

		// SAN listbox related variables
		public RadzenListBox<string>? SANs = null;
		public List<string> SANdomains = new List<string>();
		public string selectedSAN = string.Empty;
		public string newSANdomain = string.Empty;

		// PFX related variables
		public bool exportToPFX = false;
		public string PFXpassword = string.Empty;
	}

	private async void DeleteCertificate(Services.ACME.Certificate cert)
	{
		bool? confirm = await DialogService.Confirm($"Are you sure you want to delete certificate <span style='color: DeepSkyBlue; font-style: italic;'>{cert.MainDomain}</span>?", "Delete Certificate", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No", CloseDialogOnOverlayClick = true });

		if (confirm.HasValue && confirm.Value)
		{
			await Task.Run(() =>
		{
			if (acme.DeleteCertificate(cert))
			{
				layout?.DisplayToast(MainLayout.toastType.success, "Certificate deleted successfully!");
				RefreshCertificates(false);
			}
		});

			layout?.DisplayToast(MainLayout.toastType.success, $"Certificate <span style='color: DarkRed; font-style: italic;'>{cert.MainDomain}</span> has been deleted!");
		}
	}

	private async void AddCertificate()
	{
		try
		{
			AddCertificateModel cert = new AddCertificateModel();
			var result = await DialogService.OpenAsync("Add Certificate", ds =>
	@<RadzenTemplateForm TItem="AddCertificateModel" Data=@cert Submit=@AddCertSubmit InvalidSubmit=@OnInvalidCertSubmit>
		<RadzenFieldset Text="Certificate Information">
			<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween">
				<div>
					<RadzenLabel Text="Please enter the primary certificate domain:" />
					<RadzenTextBox Name="PrimaryDomain" @bind-Value=cert.primaryDomain class="w-50" style="display: block" />
					<RadzenRequiredValidator Component="PrimaryDomain" Text="Primary domain is required" Popup=false Style="position: absolute" />
					<RadzenRegexValidator Component="PrimaryDomain" Text="Must be a valid domain or wildcard FQDN" Pattern="^(?=^.{1,254}$)(^(?:(?!\.|-)([a-z0-9\-\*]{1,63}|([a-z0-9\-]{1,62}[a-z0-9]))\.)+(?:[a-z]{2,})$)$" Popup=false Style="position: absolute" />
				</div>
				<div>
					<RadzenLabel Text="Please enter the subject alternative domains (SANs):" />
					<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
						<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Left">
							<RadzenTextBox @bind-Value=cert.newSANdomain Style="width: 300px;" />
							<RadzenButton Click=@(() => AddSANDomain(cert)) Icon="add" ButtonStyle="ButtonStyle.Success" class="rz-mb-3" />
						</RadzenStack>
						<RadzenButton Click=@(() => DeleteSANDomain(cert)) Icon="delete" ButtonStyle="ButtonStyle.Danger" class="rz-mb-3" Style="float: right;" />
					</RadzenStack>
					<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween">
						<RadzenListBox @ref=cert.SANs @bind-Value=cert.selectedSAN Data="@cert.SANdomains" Style="height: 185px;" />
					</RadzenStack>
				</div>
				<span class="rz-text-align-left rz-mt-3 rz-mb-5">
					<RadzenCheckBox @bind-Value=cert.exportToPFX Name="chkExportPFX" />
					<RadzenLabel Text="Export to PFX" Component="chkExportPFX" Style="margin-left: 8px; vertical-align: middle;" />
					<RadzenLabel Text="PFX password:" Style="margin-left: 50px; vertical-align: middle;" />
					<RadzenTextBox @bind-Value=cert.PFXpassword class="w-20" />
				</span>
				<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Left">
					<RadzenButton Text="Ok" ButtonType="ButtonType.Submit" Style="width: 80px;" />
					<RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
				</RadzenStack>
			</RadzenStack>
		</RadzenFieldset>
	</RadzenTemplateForm>
	);
		}
		catch
		{
			layout?.DisplayToast(MainLayout.toastType.error, "Exception occurred while displaying add certificate screen!");
		}
	}

	void AddCertSubmit(AddCertificateModel cert)
	{
		try
		{
			//console.Log($"Submit: {JsonSerializer.Serialize(model, new JsonSerializerOptions() { WriteIndented = true })}");

			// Create new certificate

			// Validate domain names
			// if (System.Uri.CheckHostName(cert.primaryDomain) == UriHostNameType.Unknown)
			// {
			// 	layout?.DisplayToast(MainLayout.toastType.error, "Invalid primary domain was specified!");
			// 	return;
			// }

			// Validate PFX password if export PFX was checked
			if (cert.exportToPFX && String.IsNullOrWhiteSpace(cert.PFXpassword))
			{
				layout?.DisplayToast(MainLayout.toastType.error, "PFX export was selected, password must be specified!");
				return;
			}

			// Build domain list
			List<string> domains = cert.SANdomains.ToList();
			domains.Insert(0, cert.primaryDomain);

			// First, attempt to issue the certificate
			if (acme.IssueCertificate(domains))
			{
				layout?.DisplayToast(MainLayout.toastType.success, "Certificate issued successfully!");
				RefreshCertificates(false);
			}
			else
				layout?.DisplayToast(MainLayout.toastType.error, "Failed to issue certificate!");
		}
		catch
		{
			layout?.DisplayToast(MainLayout.toastType.error, "Exception occurred while adding certificate!");
		}
	}

	void OnInvalidCertSubmit(FormInvalidSubmitEventArgs args)
	{
		layout?.DisplayToast(MainLayout.toastType.error, "Invalid add certificate submission!");
		//console.Log($"InvalidSubmit: {JsonSerializer.Serialize(args, new JsonSerializerOptions() { WriteIndented = true })}");
	}

	private void AddSANDomain(AddCertificateModel cert)
	{
		try
		{
			string newDomain = cert.newSANdomain;

			if (!String.IsNullOrWhiteSpace(newDomain))
			{
				if (new Regex(fqdnRegEx).IsMatch(newDomain))
				{
					if (!cert.SANdomains.Contains(newDomain))
					{
						cert.SANdomains.Add(newDomain);

						// Force the listbox to refresh
						cert.SANs?.Reset();
					}
					else
						layout?.DisplayToast(MainLayout.toastType.info, "SAN already exists!");
				}
				else
					layout?.DisplayToast(MainLayout.toastType.error, "SAN domain must be a valid FQDN or wildcard!");
			}
		}
		catch
		{
			layout?.DisplayToast(MainLayout.toastType.error, "Exception occurred while adding SAN domain!");
		}
	}

	private void DeleteSANDomain(AddCertificateModel cert)
	{
		try
		{
			string selectedDomain = cert.selectedSAN;

			if (!String.IsNullOrWhiteSpace(selectedDomain) && cert.SANdomains.Contains(selectedDomain))
			{
				cert.SANdomains.Remove(selectedDomain);

				// Force the listbox to refresh
				cert.SANs?.Reset();
			}
		}
		catch
		{
			layout?.DisplayToast(MainLayout.toastType.error, "Exception occurred while deleting SAN domain!");
		}
	}
}