@page "/"
@page "/dashboard"

@using static Services.ACME.ConfigFile;

@inject NavigationManager NavigationManager

@inject Services.ACME acme;
@inject Services.Nginx nginx;

<PageTitle>Nginx Panel - Dashboard</PageTitle>

<RadzenStack Orientation="Orientation.Vertical">
	<RadzenCard Style="width: 700px;">
		<RadzenText Text="Nginx" TextStyle="TextStyle.DisplayH6" />
		<hr style="margin-bottom: 25px;" />
		<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Style="margin: 0;">
			@if (nginx.Installed)
			{
				<RadzenText>Version: @nginx.Version</RadzenText>
				<RadzenText>Last config test results:</RadzenText>
				<RadzenText Style="margin-bottom: 10px;">@((MarkupString)nginx.LastTestResults)</RadzenText>

				<RadzenText Style="line-height: 6px;">Modules loaded:</RadzenText>
				<ul style="margin: 0px;">
					@foreach (string module in nginx.Modules)
					{
						<li>@module</li>
					}
				</ul>
			}
			else
			{
				<RadzenText TextStyle="TextStyle.H6">
					Nginx is not installed, see <RadzenLink Icon="settings" Path="Settings" Text="Settings" /> screen for more information.
				</RadzenText>
			}
		</RadzenStack>
	</RadzenCard>

	<RadzenCard Style="width: 700px;">
		<RadzenText Text="ACME" TextStyle="TextStyle.DisplayH6" />
		<hr style="margin-bottom: 25px;" />
		<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start">
			@if (acme.Installed)
			{
				<RadzenText>Version: @acme.Version</RadzenText>
				<RadzenText>
					Log File:&nbsp;
					@{
						string logFile = acme.AccountConf.GetConfValue(enuConfKey.LOG_FILE);

						if (String.IsNullOrWhiteSpace(logFile))
						{
							<span>None</span>
						}
						else
						{
							<span>@logFile</span>
						}
					}
				</RadzenText>
				<RadzenText>
					Auto-upgrade:&nbsp;
					@{
						string upgrade = acme.AccountConf.GetConfValue(enuConfKey.AUTO_UPGRADE);

						if (upgrade == "1")
						{
							<span>Yes</span>
						}
						else
						{
							<span>No</span>
						}
					}
				</RadzenText>
				<RadzenTextArea Value="@acme.AccountConf.Config" Cols="85" Rows="18" Style="background-color: #5F737E !important; cursor: default; white-space: nowrap; font-family: 'Lucida Console', 'Courier New', monospace; font-size: 11px; background: url(content/images/linenumbers.png); background-attachment: local; background-repeat: no-repeat; padding-left: 35px; padding-top: 12px; line-height:16px; border-color:#ccc;" />
			}
			else
			{
				<RadzenText TextStyle="TextStyle.H6">
					ACME is not installed, see <RadzenLink Icon="settings" Path="Settings" Text="Settings" /> screen for more information.
				</RadzenText>
			}
		</RadzenStack>
	</RadzenCard>
</RadzenStack>

@code {
	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender && !NavigationManager.Uri.EndsWith("dashboard"))
			NavigationManager.NavigateTo("dashboard");
	}
}