@page "/"
@page "/dashboard"

@using static Services.ACME.ConfigFile;

@inject NavigationManager NavigationManager

@inject Services.ACME acme;
@inject Services.Nginx nginx;

<PageTitle>Nginx Panel - Dashboard</PageTitle>

<RadzenStack Orientation="Orientation.Vertical">
	<RadzenCard Style="width: 700px;">
		<RadzenText Text="Nginx" TextStyle="TextStyle.DisplayH6" />
		<hr style="margin-bottom: 25px;" />
		<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start">
			@if (nginx.Installed)
			{
				<h6>Version: @nginx.Version</h6>
				<h6>Last config test results:</h6>
				@((MarkupString)nginx.LastTestResults)
			}
			else
			{
				<h5>
					Nginx is not installed, see <RadzenLink Icon="settings" Path="Settings" Text="Settings" /> screen for more information.
				</h5>
			}
		</RadzenStack>
	</RadzenCard>

	<RadzenCard Style="width: 700px;">
		<RadzenText Text="ACME" TextStyle="TextStyle.DisplayH6" />
		<hr style="margin-bottom: 25px;" />
		<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start">
			@if (acme.Installed)
			{
				<h6>Version: @acme.Version</h6>
				<h6>
					Log File:&nbsp;
					@{
						string logFile = acme.AccountConf.GetConfValue(enuConfKey.LOG_FILE);

						if (String.IsNullOrWhiteSpace(logFile))
						{
							<span>None</span>
						}
						else
						{
							<span>@logFile</span>
						}
					}
				</h6>
				<h6>
					Auto-upgrade:&nbsp;
					@{
						string upgrade = acme.AccountConf.GetConfValue(enuConfKey.AUTO_UPGRADE);

						if (upgrade == "1")
						{
							<span>Yes</span>
						}
						else
						{
							<span>No</span>
						}
					}
					<br />
					<br />
					<RadzenTextArea Value="@acme.AccountConf.Config" Cols="85" Rows="18" Style="background-color: #5F737E !important; cursor: default; white-space: nowrap; font-family: 'Lucida Console', 'Courier New', monospace; font-size: 11px; background: url(content/images/linenumbers.png); background-attachment: local; background-repeat: no-repeat; padding-left: 35px; padding-top: 12px; line-height:16px; border-color:#ccc;" />
				</h6>
			}
			else
			{
				<h6>
					ACME is not installed, see <RadzenLink Icon="settings" Path="Settings" Text="Settings" /> screen for more information.
				</h6>
			}
		</RadzenStack>
	</RadzenCard>
</RadzenStack>

@code {
	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender && !NavigationManager.Uri.EndsWith("dashboard"))
			NavigationManager.NavigateTo("dashboard");
	}
}