@page "/sites"

@inject Services.Nginx Nginx;

<PageTitle>Sites</PageTitle>

<h3>Sites</h3>

@foreach (Services.Nginx.ConfigFile conf in Nginx.SiteConfigs)
{
    <div>
        <input type="checkbox" id="@conf.Name" name="@conf.Name" @bind="@conf.Enabled" @onclick="@(() => Nginx.ToggleEnabled(conf))" />
        <label for="@conf.Name">@conf.Name</label>
    </div>
}

@code {

    protected override void OnInitialized()
    {
        Nginx.RefreshFiles();
    }

}