@page "/sites"

@using NginxPanel.Services;

@inject DialogService DialogService;
@inject Services.Nginx nginx;

<PageTitle>Sites</PageTitle>
<br />
<br />
<h3>Sites</h3>
<br />
<br />

@if (nginx.Installed)
{
    <RadzenLayout>
        <RadzenHeader>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => sitesSidebarExpanded = !sitesSidebarExpanded)" />
                <RadzenButton Click=@(() => RefreshSites(true)) Disabled="busyRefreshing" Text="Refresh" Icon="cached" BusyText="Refreshing..." IsBusy="busyRefreshing" ButtonStyle="ButtonStyle.Info" class="rz-mr-5" />
                <RadzenButton Click=@(() => AddSite()) Disabled="busyRefreshing" Text="Add" Icon="add" BusyText="Refreshing..." IsBusy="busyRefreshing" ButtonStyle="ButtonStyle.Success" />
            </RadzenStack>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@sitesSidebarExpanded">
            <RadzenPanelMenu>
                @if (!busyRefreshing)
                {
                    @foreach (Services.Nginx.ConfigFile conf in nginx.SiteConfigs)
                    {
                        string style = "";

                        if (conf.ContentsDirty)
                            style = "border-style: ridge; border-color: FireBrick; border-width: 3px;";

                        <RadzenPanelMenuItem Text="@conf.Name" Icon="@(conf.Enabled ? "check" : "description")" Click="() => selectedConf = conf" Selected="@(selectedConf == conf)" Style="@style" />
                    }
                }
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody>
            <div class="rz-p-4">
                @if (!(selectedConf is null) && !busyRefreshing)
                {
                    // Display selected site config
                    <RadzenCard>
                        <RadzenButton Click=@(() => DeleteSite(selectedConf)) Disabled="busyRefreshing" Icon="delete" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Danger" Style="float: right;" />

                        <RadzenCheckBox TValue="bool" Value="@selectedConf.Enabled" Name="@selectedConf.Name" Change="() => ToggleSite(selectedConf)" />
                        <RadzenLabel Text="Enabled" Component="@selectedConf.Name" />

                        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mt-5" TagName="TagName.H3">Configuration:</RadzenText>
                        <RadzenTextArea Value="@selectedConf.FileContents" Change=@((value) => @selectedConf.FileContents = value) Cols="125" Rows="20" />
                        <br />
                        <RadzenButton Click=@(() => SaveSite(selectedConf)) Disabled="busyRefreshing" Text="Save" Icon="save" BusyText="Saving..." IsBusy="selectedConf.busySaving" ButtonStyle="ButtonStyle.Secondary" />
                    </RadzenCard>
                }
            </div>
        </RadzenBody>
    </RadzenLayout>
}
else
{
    <RadzenText TextStyle="TextStyle.DisplayH5" class="rz-mt-5" TagName="TagName.H5">Nginx service was not found, you must install Nginx before using this page.</RadzenText>
}

@code {
    [CascadingParameter]
    private MainLayout? layout { get; set; }

    private Nginx.ConfigFile? selectedConf = null;

    private bool sitesSidebarExpanded = true;
    private bool busyRefreshing = false;

    protected override void OnInitialized()
    {
        RefreshSites(false);
    }

    private async void RefreshSites(bool notifyUser)
    {
        try
        {
            busyRefreshing = true;
            selectedConf = null;

            await Task.Run(() => nginx.RefreshFiles());

            if (notifyUser)
            {
                layout?.ShowNotification(NotificationSeverity.Info, "Info", "Sites refreshed successfully!");
            }
        }
        finally
        {
            busyRefreshing = false;
            await InvokeAsync(() => StateHasChanged());
        }
    }

    private void ToggleSite(Services.Nginx.ConfigFile conf)
    {
        try
        {
            nginx.ToggleEnabled(conf);

            if (conf.Enabled)
            {
                layout?.ShowNotification(NotificationSeverity.Success, "Success", $"Site <span style='color: DarkBlue; font-style: italic;'>{conf.Name}</span> enabled successfully!");
            }
            else
            {
                layout?.ShowNotification(NotificationSeverity.Success, "Success", $"Site <span style='color: DarkRed; font-style: italic;'>{conf.Name}</span> disabled successfully!");
            }
        }
        catch
        {
            layout?.ShowNotification(NotificationSeverity.Error, "Error", $"Error occurred while updating site '{conf.Name}'!");
        }
    }

    private async void SaveSite(Nginx.ConfigFile conf)
    {
        try
        {
            conf.busySaving = true;

            await conf.Save();

            layout?.ShowNotification(NotificationSeverity.Success, "Success", $"Site <span style='color: DarkBlue; font-style: italic;'>{conf.Name}</span> saved successfully!");
        }
        catch
        {
            layout?.ShowNotification(NotificationSeverity.Error, "Error", $"Error occurred while saving site <span style='color: DarkRed; font-style: italic;'>{conf.Name}</span>!");
        }
        finally
        {
            conf.busySaving = false;
            await InvokeAsync(() => StateHasChanged());
        }
    }

    private async void AddSite()
    {
        string siteName = string.Empty;
        var result = await DialogService.OpenAsync("Add Site", ds =>
            @<RadzenStack Gap="1.5rem">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Please enter the name of the site:</RadzenText>
                <RadzenTextBox @bind-Value=@siteName class="w-100" />
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="width: 80px;" />
                        <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
    );

        if (!(result is null) && result)
        {
            if (String.IsNullOrWhiteSpace(siteName))
            {
                layout?.ShowNotification(NotificationSeverity.Error, "Error", "Site name cannot be blank!");
                return;
            }

            siteName = siteName.Trim();
            string configPath = Path.Combine(nginx.SitesAvailable, siteName);

            if (File.Exists(configPath))
            {
                layout?.ShowNotification(NotificationSeverity.Error, "Error", $"Site with the name <span style='color: DarkRed; font-style: italic;'>{siteName}</span> already exists!");
                return;
            }

            try
            {
                await Task.Run(() =>
                {
                    File.WriteAllText(configPath, "");
                    RefreshSites(false);
                });

                layout?.ShowNotification(NotificationSeverity.Success, "Success", $"Site <span style='color: DarkRed; font-style: italic;'>{siteName}</span> has been added!");
            }
            catch (Exception ex)
            {
                if (ex.GetType() == typeof(System.UnauthorizedAccessException))
                {
                    layout?.ShowNotification(NotificationSeverity.Error, "Error", $"File permission error occurred while adding site <span style='color: DarkRed; font-style: italic;'>{siteName}</span>!");
                }
                else
                {
                    layout?.ShowNotification(NotificationSeverity.Error, "Error", $"Error occurred while adding site <span style='color: DarkRed; font-style: italic;'>{siteName}</span>!");
                }
            }
        }
    }

    private async void DeleteSite(Nginx.ConfigFile conf)
    {
        bool? confirm = await DialogService.Confirm($"Are you sure you want to delete site <span style='color: DeepSkyBlue; font-style: italic;'>{conf.Name}</span>?", "Delete Site", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No", CloseDialogOnOverlayClick = true });

        if (confirm.HasValue && confirm.Value)
        {
            await Task.Run(() =>
            {
                File.Delete(conf.ConfigPath);
                RefreshSites(false);
            });

            layout?.ShowNotification(NotificationSeverity.Success, "Success", $"Site <span style='color: DarkRed; font-style: italic;'>{conf.Name}</span> has been deleted!");
        }
    }
}