@using Microsoft.AspNetCore.WebUtilities;
@using System.Reflection;

@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager

@inject Services.AuthState auth;
@inject Services.Cli cli;
@inject Services.Duo duo;
@inject Services.Nginx nginx;
@inject DialogService DialogService;
@inject NotificationService NotificationService;
@inject TooltipService TooltipService;

<CascadingValue Value="this">
	@if (auth.Authenticated)
	{
		<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
			<RadzenHeader>
				<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
					<RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
					<span style="padding-right: 50px;">
						User: @cli.RunningAsUser
						<br />
						Nginx Service: @nginx.ServiceStatus.GetEnumDescription()
					</span>

					<span>
						@switch (nginx.ServiceStatus)
						{
							case Services.Nginx.enuServiceStatus.Running:
								<RadzenButton Click=@(() => PerformServiceAction(Services.Nginx.enuServiceAction.Stop)) Disabled="disableAllButtons" Text="Stop" Icon="stop" class="rz-background-color-danger-dark" />
								<RadzenButton Click=@(() => PerformServiceAction(Services.Nginx.enuServiceAction.Restart)) Disabled="disableAllButtons" Text="Restart" Icon="replay" class="rz-background-color-warning-dark" />
								<RadzenButton Click=@(() => TestConfig()) Disabled="disableAllButtons" Text="Test Config" Icon="check" BusyText="Testing..." IsBusy="busyTesting" class="rz-background-color-primary-dark rz-ripple" />
								break;
							case Services.Nginx.enuServiceStatus.Stopped:
							case Services.Nginx.enuServiceStatus.Failed:
								<RadzenButton Click=@(() => PerformServiceAction(Services.Nginx.enuServiceAction.Start)) Disabled="disableAllButtons" Text="Start" Icon="play_arrow" class="rz-background-color-success-dark" />
								<RadzenButton Click=@(() => TestConfig()) Disabled="disableAllButtons" Text="Test Config" Icon="check" BusyText="Testing..." IsBusy="busyTesting" class="rz-background-color-primary-dark rz-ripple" />
								break;

						}
					</span>
					<span style="margin-left: 100px;">
						Version: @(GetType()?.Assembly?.GetName()?.Version?.ToString()) (Beta)
					</span>
				</RadzenStack>
			</RadzenHeader>
			<RadzenSidebar @bind-Expanded="@sidebarExpanded">
				<RadzenText Text="@Assembly.GetEntryAssembly()!.GetName().Name" TextStyle="TextStyle.DisplayH5" Style="padding: 10px;" />
				<RadzenPanelMenu>
					<RadzenPanelMenuItem Text="Dashboard" Icon="home" Path="dashboard" />
					<RadzenPanelMenuItem Text="Configs" Icon="description" Path="configs" />
					<RadzenPanelMenuItem Text="Certificates" Icon="encrypted" Path="certificates" />
					<RadzenPanelMenuItem Text="Settings" Icon="settings" Path="settings" />
				</RadzenPanelMenu>
			</RadzenSidebar>
			<RadzenBody>
				<div class="rz-p-4">
					@Body
				</div>
			</RadzenBody>
		</RadzenLayout>
	}
	// Check if a username was specified, if there was we need to validate the user unless this is a DUO redirect
	else
	{
		Uri uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
		bool DUOredirect = QueryHelpers.ParseQuery(NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query).TryGetValue("state", out _);

		if (DUOredirect)
		{
			<RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" TextAlign="TextAlign.Center" Text="Redirecting..." />
		}
		else if (AppConfig.UserRequired)
		{
			<RadzenStack Gap="0" Class="rz-my-12 rz-mx-auto rz-border-radius-6 rz-shadow-10" Style="width: 100%; max-width: 400px; overflow: hidden;">
				<RadzenCard Class="rz-shadow-0 rz-border-radius-0 rz-background-color-info rz-p-12" style="text-align: center;">
					<RadzenText TextStyle="TextStyle.DisplayH4" TagName="TagName.H4" Class="rz-color-white rz-mb-0">NginxPanel Login</RadzenText>
				</RadzenCard>
				<RadzenCard Class="rz-shadow-0 rz-p-12">
					<RadzenTemplateForm Data=@("SimpleLogin")>
						<RadzenLogin AllowRegister="false" AllowResetPassword="false" Login="(args) => OnLogin(args)" />
					</RadzenTemplateForm>
				</RadzenCard>
			</RadzenStack>
		}
	}

	<RadzenComponents />
</CascadingValue>

@code {
	#region Variables

	private bool sidebarExpanded = true;
	private bool disableAllButtons = false;
	private bool busyTesting = false;

#if DEBUG
	private bool clearAuthOnInit = true;
#endif

	#endregion

	public enum toastType
	{
		success,
		warning,
		error,
		info
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!auth.Authenticated)
		{
			// Check for cookie first
			string authenticated = await JSRuntime.InvokeAsync<string>("readCookie", "Authenticated");

#if DEBUG
			if (clearAuthOnInit)
			{
				await JSRuntime.InvokeVoidAsync("writeCookie", "Authenticated", "", 120);
				clearAuthOnInit = false;
				authenticated = string.Empty;
			}
#endif

			if (authenticated == "true")
			{
				auth.SetAuthenticated();
				await InvokeAsync(() => StateHasChanged());
			}
			else
			{
				var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
				if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("state", out var returnState) &&
					QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var returnCode))
				{
					// Current DUO auth in progress, verify cookie and continue
					string username = await JSRuntime.InvokeAsync<string>("readCookie", "DUOUsername");
					string state = await JSRuntime.InvokeAsync<string>("readCookie", "DUOState");

					// Clear cookies
					await JSRuntime.InvokeVoidAsync("writeCookie", "DUOUsername", "", 3);
					await JSRuntime.InvokeVoidAsync("writeCookie", "DUOState", "", 3);

					// Only continue if state was not tampered with
					if (state == returnState)
					{
						bool success = await duo.ValidateAuth(returnCode!, username);

						if (success)
						{
							// Write auth cookie for 2 hours
							await JSRuntime.InvokeVoidAsync("writeCookie", "Authenticated", "true", 120);

							auth.SetAuthenticated();

							NavigationManager.NavigateTo("/");
							return;
						}
					}
				}

				if (AppConfig.DUORequired && !AppConfig.UserRequired)
				{
					await InitializeDUO();
					return;
				}
			}
		}

		if (firstRender)
		{
			nginx.ServiceStatusChanged += RefreshServiceStatus;

			if (!AppConfig.DisableAuthWarningOnStart && !AppConfig.DUOEnabled && String.IsNullOrWhiteSpace(AppConfig.Username))
				await DisplayToastAsync(toastType.warning, "No authentication mechanism has been set, check the settings screen for more information!");
		}
	}

	private async void OnLogin(LoginArgs args)
	{
		if (args.Username.ToLower() == AppConfig.Username.ToLower() && args.Password == AppConfig.Password)
		{
			if (!AppConfig.DUORequired)
			{
				// Write auth cookie for 2 hours
				await JSRuntime.InvokeVoidAsync("writeCookie", "Authenticated", "true", 120);

				auth.SetAuthenticated();
				await DisplayToastAsync(toastType.info, $"Successful login, welcome {args.Username}!");

				NavigationManager.NavigateTo("/");
			}
			else
				await InitializeDUO();
		}
		else
		{
			await DisplayToastAsync(toastType.error, "Invalid username or password!");
		}
	}

	private async Task InitializeDUO()
	{
		try
		{
			string username = AppConfig.DUOUsername;

			if (String.IsNullOrWhiteSpace(username))
				username = AppConfig.Username;

			if (!String.IsNullOrWhiteSpace(username))
			{
				// Save username to cookie
				await JSRuntime.InvokeVoidAsync("writeCookie", "DUOUsername", username, 3);

				string state = string.Empty;
				string redirect = duo.GetAuthURL(username, ref state);

				// Save state to cookie
				await JSRuntime.InvokeVoidAsync("writeCookie", "DUOState", state, 3);

				if (!String.IsNullOrWhiteSpace(redirect))
					NavigationManager.NavigateTo(redirect);
			}
		}
		catch
		{
			// Placeholder
		}
	}

	private async Task PerformServiceAction(Services.Nginx.enuServiceAction action)
	{
		try
		{
			disableAllButtons = true;

			// Perform requested action
			await Task.Run(() => nginx.PerformServiceAction(action));

			switch (action)
			{
				case Services.Nginx.enuServiceAction.Start:
					await DisplayToastAsync(toastType.info, "Nginx service started!");
					break;

				case Services.Nginx.enuServiceAction.Stop:
					await DisplayToastAsync(toastType.info, "Nginx service stopped!");
					break;

				case Services.Nginx.enuServiceAction.Restart:
					await DisplayToastAsync(toastType.info, "Nginx service restarted!");
					break;
			}
		}
		finally
		{
			disableAllButtons = false;
			await InvokeAsync(() => StateHasChanged());
		}
	}

	private async Task TestConfig()
	{
		try
		{
			busyTesting = true;

			await Task.Run(() => nginx.TestConfig());

			string results = nginx.LastTestResults;

			if (results.Contains("Successful"))
			{
				await DisplayToastAsync(toastType.success, "Nginx configuration test was successful!");
			}
			else
			{
				await DisplayToastAsync(toastType.error, $"Nginx configuration test failed! View dashboard for more information.");
			}
		}
		finally
		{
			busyTesting = false;
			await InvokeAsync(() => StateHasChanged());
		}
	}

	private async void RefreshServiceStatus()
	{
		await InvokeAsync(() => StateHasChanged());
	}

	public async Task InvokeStateHasChanged()
	{
		await InvokeAsync(() => StateHasChanged());
	}

	public async Task DisplayToastAsync(toastType type, string message, string title = "", bool dismissable = false)
	{
		await JSRuntime.InvokeVoidAsync("toast", type.ToString(), StyleMessage(type, message), title, dismissable);
	}

	public void DisplayToast(toastType type, string message, string title = "", bool dismissable = false)
	{
		JSRuntime.InvokeVoidAsync("toast", type.ToString(), StyleMessage(type, message), title, dismissable);
	}

	public void ShowTooltip(ElementReference elementReference, string text, TooltipOptions? options = null) => TooltipService.Open(elementReference, text, options);

	public string StyleMessage(toastType type, string message)
	{
		// Determine color by toastType
		string color = "DeepSkyBlue";

		if (type == toastType.error)
			color = "Crimson";

		// Replace "span start/end" with styling
		message = message.Replace("%ss%", "<span style='color: %color%; font-weight: bold;'>".Replace("%color%", color));
		message = message.Replace("%se%", "</span>");

		return message;
	}

	public async Task BusyDialog(string message)
	{
		await DialogService.OpenAsync("", ds =>
		{
			return
				@<RadzenStack AlignItems="AlignItems.Center" Class="rz-m-6" Gap="2rem">
					@message
					<RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
				</RadzenStack>;
				}, new DialogOptions() { ShowTitle = false, Style = "min-height: auto; min-width: auto; width: auto;", CloseDialogOnEsc = false });
		}
}